{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h2 class="mb-5">Login</h2>

    <!-- If authentication error occurs -->
    {% if error %}
      <div class="alert alert-danger">
        {{ error.messagekey|trans(error.messageData, 'security') }}
      </div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">

      <!-- Email field -->
      <div class="form-group row">
        <label class="col-md-4 col-form-label text-md-right" for="username">Email</label>

        <div class="col-md-6">
          <input id="username" class="form-control" type="email" name="_username" value="{{ last_username }}">
        </div>
      </div>

        <!-- Password field -->
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-md-right" for="username">Contraseña</label>

          <div class="col-md-6">
            <input id="password" class="form-control" type="password" name="_password">
          </div>
        </div>

        <!-- Submit button -->
        <div class="form-group row mb-0">
          <div class="col-md-8 offset-md-4">
            <button type="submit" class="btn btn-primary">Entrar</button>
          </div>
        </div>

    </form>
{% endblock %}
